<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="h1-seo">2BnC.</h1>
          <p class="text-white">2 Brackets & Co.</p>
          <p>Copyright © 2021: 2 Brackets & Co.</p>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> 
                Home 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/aboutus']"> 
                About Us 
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/ourservices']">
                Our Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Testimonials
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="h1-seo">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.linkedin.com/company/2bracketsnco/"
              target="_blank"
            >
              <i class="fab fa-linkedin"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.instagram.com/2bracketsnco/"
              target="_blank"
            >
              <i class="fab fa-instagram"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://github.com/2bracketsnco"
              target="_blank"
            >
              <i class="fab fa-github"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
