<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="logo_col">
        <img class="logo" src="https://res.cloudinary.com/kaushalshah1307/image/upload/v1600769236/2BnC/2BnC_Logo.png">
        <p class="lead"><span>2 Brackets & Co.</span></p>
        <p class="byline">We Help <span class="dot">Small</span> Spaces; Build <span class="dot">Big</span> Market Image.</p>
        <!-- <h1>coming soon<span class="dot">.</span></h1> -->
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>